<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="100000"
    android:versionName="1.0.0">

    <uses-sdk tools:overrideLibrary="androidx.security"/>

    <application
        android:name="com.infinum.sentinel.ui.SentinelTestApplication"
        android:label="@string/sentinel_name">
        <activity
            android:name="com.infinum.sentinel.ui.main.SentinelActivity"
            android:label="@string/sentinel_name"
            android:theme="@style/Sentinel.Theme" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>
    </application>

</manifest>
