<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="100000"
    android:versionName="1.0.0">

    <uses-sdk tools:overrideLibrary="androidx.security"/>

    <application
        android:name=".ui.SentinelTestApplication"
        android:label="@string/sentinel_name">
        <activity
            android:name=".ui.main.SentinelActivity"
            android:label="@string/sentinel_name"
            android:theme="@style/Sentinel.Theme" />
    </application>

</manifest>
