<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>

        <activity
            android:name=".ui.logger.LoggerActivity"
            android:exported="false"
            android:label="@string/sentinel_logger_name"
            android:taskAffinity="com.infinum.sentinel.logger"
            android:theme="@style/Sentinel.Theme.Leaf">
            <meta-data
                android:name="@string/sentinel_infinum_monitored"
                android:value="false" />
        </activity>

        <activity
            android:name=".ui.logs.LogsActivity"
            android:exported="false"
            android:label="@string/sentinel_logs"
            android:taskAffinity="com.infinum.sentinel.logger"
            android:theme="@style/Sentinel.Theme.Leaf">
            <meta-data
                android:name="@string/sentinel_infinum_monitored"
                android:value="false" />
        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.infinum.sentinel.TimberInitializer"
                android:value="androidx.startup" />
        </provider>

        <provider
            android:name=".SentinelLogsProvider"
            android:authorities="${applicationId}.sentinel.logprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/sentinel_file_paths"/>
        </provider>

    </application>

</manifest>
