<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.infinum.sentinel">

    <application>

        <activity
            android:name=".ui.main.SentinelActivity"
            android:exported="true"
            android:label="@string/sentinel_name"
            android:taskAffinity="com.infinum.sentinel"
            android:theme="@style/Sentinel.Theme">
            <meta-data
                android:name="@string/sentinel_infinum_monitored"
                android:value="false" />
        </activity>

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false"
            android:label="@string/sentinel_name"
            android:taskAffinity="com.infinum.sentinel"
            android:theme="@style/Sentinel.Theme.Leaf">
            <meta-data
                android:name="@string/sentinel_infinum_monitored"
                android:value="false" />
        </activity>

        <activity
            android:name=".ui.main.preferences.editor.PreferenceEditorActivity"
            android:exported="false"
            android:label="@string/sentinel_name"
            android:taskAffinity="com.infinum.sentinel"
            android:theme="@style/Sentinel.Theme.Leaf">
            <meta-data
                android:name="@string/sentinel_infinum_monitored"
                android:value="false" />
        </activity>

        <activity
            android:name=".ui.bundles.BundlesActivity"
            android:exported="false"
            android:label="@string/sentinel_bundle_monitor"
            android:taskAffinity="com.infinum.sentinel.bundles"
            android:theme="@style/Sentinel.Theme.Leaf">
            <meta-data
                android:name="@string/sentinel_infinum_monitored"
                android:value="false" />
        </activity>

        <activity
            android:name=".ui.bundles.details.BundleDetailsActivity"
            android:exported="false"
            android:label="@string/sentinel_bundle_monitor"
            android:taskAffinity="com.infinum.sentinel.bundles"
            android:theme="@style/Sentinel.Theme.Leaf">
            <meta-data
                android:name="@string/sentinel_infinum_monitored"
                android:value="false" />
        </activity>

        <activity
            android:name=".ui.crash.CrashesActivity"
            android:exported="false"
            android:label="@string/sentinel_crash_monitor"
            android:taskAffinity="com.infinum.sentinel.crashes"
            android:theme="@style/Sentinel.Theme.Leaf">
            <meta-data
                android:name="@string/sentinel_infinum_monitored"
                android:value="false" />
        </activity>

        <activity
            android:name=".ui.crash.details.CrashDetailsActivity"
            android:exported="false"
            android:label="@string/sentinel_crash"
            android:taskAffinity="com.infinum.sentinel.crashes"
            android:theme="@style/Sentinel.Theme.Leaf">
            <meta-data
                android:name="@string/sentinel_infinum_monitored"
                android:value="false" />
        </activity>

        <activity
            android:name=".ui.certificates.CertificatesActivity"
            android:exported="false"
            android:label="@string/sentinel_certificates"
            android:taskAffinity="com.infinum.sentinel.certificates"
            android:theme="@style/Sentinel.Theme.Leaf">
            <meta-data
                android:name="@string/sentinel_infinum_monitored"
                android:value="false" />
        </activity>

        <activity
            android:name=".ui.certificates.details.CertificateDetailsActivity"
            android:exported="false"
            android:label="@string/sentinel_certificate"
            android:taskAffinity="com.infinum.sentinel.certificates"
            android:theme="@style/Sentinel.Theme.Leaf">
            <meta-data
                android:name="@string/sentinel_infinum_monitored"
                android:value="false" />
        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.infinum.sentinel.SentinelInitializer"
                android:value="androidx.startup" />
        </provider>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

    </application>

</manifest>
