<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.infinum.sentinel">

    <application>
        <activity
            android:name="com.infinum.sentinel.ui.SentinelActivity"
            android:label="@string/sentinel_name"
            android:theme="@style/Sentinel.Theme" />

        <provider
            android:name=".SentinelContentProvider"
            android:authorities="com.infinum.sentinel.SentinelContentProvider" />
    </application>

</manifest>
