<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.infinum.designer">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:theme="@style/Designer.BaseTheme"
        tools:replace="android:theme">

        <activity
            android:name=".ui.DesignerActivity"
            android:label="@string/sentinel_design"
            android:launchMode="singleTop"
            android:theme="@style/Designer.BaseTheme" />

        <service
            android:name=".ui.DesignerService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />

    </application>

</manifest>