<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.infinum.designer">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <activity
            android:name=".ui.DesignerActivity"
            android:label="@string/sentinel_design"
            android:launchMode="singleTop"
            android:theme="@style/Designer.BaseTheme" />
        <service
            android:name=".ui.DesignerService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>