name: Validate Gradle wrapper
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

jobs:
  validation:
    name: Validation

    runs-on: macOS-latest

    steps:
      - name: Checkout latest code
        uses: actions/checkout@v4

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v3